= link_to 'Discutons de votre projet', 'https://guillaume77.typeform.com/to/wbZq3H', class: "typeform-share button is-large is-warning #{'is-outlined' if outlined}", data: {mode: 'popup'}, target: '_blank'

javascript:
  (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
